@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: large;
  font-style: normal;
}
body {
  background: rgb(147, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(147, 58, 180, 1) 0%,
    rgba(253, 75, 29, 1) 79%,
    rgba(252, 183, 69, 0.9601891782103467) 96%
  );
}
header {
  margin: 1vh;
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#zonaGral {
  margin: 20px;
}

form {
  background-color: #ccc;
  border-radius: 5px;
  padding: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#divRazon {
  margin-top: 10px;
}

#detalles {
  margin-top: 10px;
}

#detalllesArea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.button-67 {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: help;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}